<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} &laquo; Kaushik Sathupadi</title>
   <link href="http://feeds.feedburner.com/ksat" rel="alternate" title="Kaushik Sathupadi" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin' rel='stylesheet' type='text/css' /> 

</head>
<body>


<div class="site">
  <div class="title">
    <a href="/">Kaushik Sathupadi</a>
    <div class="description">
      Programmer. Creator. Co-Founder.  Dad.
    </div>
  </div>
  
  {{ content }}
  
  <div class="footer">
    Copyright © Kaushik Sathupadi 2009 - 2012

    <!--
    <div class="contact">
      <p>
        <a href="http://flickr.com/photos/mojombo/">flickr.com/photos/mojombo</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/ksat">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
     -->
  </div>
</div>
<!--
<a href="http://github.com/mojombo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
-->


<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18360645-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Google Analytics end -->

</body>
</html>
